* , *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;

}
body{
    font-family: 'Inter';
    background-color: hsl(0, 0%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.attribution{
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);

}
.attribution a ,h2{
    color: hsl(75, 94%, 57%);
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
main header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
article{
    background-color: hsl(0, 0%, 12%);
    max-width: 350px;
    width: 90%;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.377);

}
section , nav{
    text-align: center;
}
header img{
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
}
header h1{
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    margin-top: 1.5rem;
    font-weight: 600;
}
header h2{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: hsl(75, 94%, 57%);

}
header h1 , header h2{
    line-height: 1.2;
}
span{
    color: white;
    font-size: 90%;
    text-align: center;
    margin: 1.5rem 0 1rem;
    font-weight: 400;
}
nav ul{


    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    max-width: 100%;
}
nav a{
    display: block;
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    transition: background-color 0.5s, color 0.5s;
    font-weight: 700;
    min-width: 150px;
}
nav a:hover {
    background-color: hsl(75, 94%, 57%);
    color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
